@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
    font-family: Outfit;
}
.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;

}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bg-layer{
    background-image: url(/bg_layer.png);
}